@model TaskFour.Models.User


<tr>
	<td>
		<input type="checkbox" id="deleteBlock" name="deleteBlock" value="@Model.Id" class="custom-checkbox chkCheckBoxId" />
	</td>
	<td>@Model.Name</td>
	<td>@Model.Email</td>
	<td>@Model.RegisterDate</td>
	<td>@Model.LoginTime</td>
	
		@if(Model.IsActive==true)
		{
			<td>Active</td>	
		}
		else
		{
			<td>Block</td>
		}

</tr>
